
<div class="container">
    <div class="col-md-12">
        <div class="heading">
            <h1>Mongo Scraper</h1>
           
        </div>

        <div class="col-md-12 storyBox">
            {{#each stories}}
            <div class="data" dataTitle="{{title}}" dataLink="{{url}}" dataAuthor="{{author}}" dataContent="{{content}}" dataImg="{{img}}">

                <h2>
                    <a href="{{url}}">{{title}}</a>
                </h2>

                <p class="content">{{content}}</p>
                {{#if author}}
                <h4>Author: {{author}}</h4>
                {{else}}
                <h4>No Author</h4>
                {{/if}} 
            
                {{#if img}}
                <img src="{{img}}" alt="story"> {{else}}
                <img src="https://www.savonix.com/wp-content/uploads/2016/02/techcrunch-logo.png" alt="no preview"> {{/if}}

                <button type="button" id="saveStory" class="btn btn-dark save" data-id={{this._id}}>Save Article</button>
                
            </div>
            <br>
            {{/each}}
        </div>
    </div>
</div>